a {
    /*La herencia a todos los elementos*/
    text-decoration: none;
    /*background-color: #f03c01;*/
    color: black;
    padding: 7px 14px;
    display: block;
}

#menuHorizontal ul li {
    float: left;
    /*Esta es la manera correcta de hacerlo*/
    /*Ahora hay que anular la flotación con clear: both; en el siguiente elemento*/
    /*display: inline-block;*/
}
#menuHorizontal ul li a:hover{
    /*background-color: #db6446;*/
    border-bottom: 3px solid #0f499e;
}

#menuHorizontal ul {
    list-style: none;
}


nav#menuHorizontal ul li a{
    /*border: 0 0 3px 0 solid #f03c01;*/
    border-bottom: 3px solid #f03c01;    
}
#menuHorizontal {
    border-bottom: 3px solid #f03c01;    
    font-family:Arial, Helvetica, sans-serif;
}

#main {
    clear: both;/*Elimino la flotacion que le puse al elemento anterior (la lista de el menu)*/
}
#menuHorizontal{
    height: 2rem;
    width: 100%;
    background-color: yellow;
}

/*gris negro*/

/*Lo menos que hay que poner es valores absolutos*/
@media (max-width 400px){
    #menuHorizontal ul li a{
        width: 100%;
        background-color: blue;
        display: block;
    }
    ul {
        width: 100px;
    }
}