@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#menu {
    /*background-color: #f03c01;*/
    width: 100%;
    height: 2rem;
    border-bottom: 5px solid #f03c01;
}

#menu ul {}

#menu ul li {
    float: left;
    /* background-color: #f03c01;*/
}

#menu ul li a {
    color: black;
    padding: 0.438rem;
    display: block;
    border-bottom: 5px solid #f03c01;
    text-align: center;
}

#menu ul li a:hover {
    border-bottom: 5px solid #0f499e;
}

#main {
    clear: left;
}

/*promociones*/
#promo {
    background-color: white;
    text-align: center;
    font-size: 50px;
}

.flex-container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 40%;
    margin: 20px auto 20px auto;
    padding: auto;
    text-align: center;
}

.flex-container > div > img {
    width: 100%;
}

@media screen and (max-width: 600px) and (orientation: portrait) {

    #menu {
        height: auto;
        /*por que no sabemos la altura dele elemento*/
        border-bottom: none;

    }

    #menu ul li a {
        float: none;
        width: 100%;
        border-bottom: none;
    }

    #menu ul li a:hover {
        border-bottom: none;
    }

    #menu ul {
        padding: 0;
    }

    #menu ul li {
        float: none;
    }

    #main,
    #footer {
        /*background-color: aqua;*/
    }

    #menu ul li a {
        border-left: 5px solid #f03c01;
    }

    #menu ul li a:active {
        border-left: 5px solid #0f499e;
    }

    .flex-container > div {
        background-color: #f1f1f1;
        width: 100%;
        margin: 10px;
        text-align: center;
    }

    #promo {
        background-color: white;
        text-align: center;
        font-size: 35px;
    }
}
